<launch>
  <node  pkg="digit_ros" name="digit_ros" type="single_sensor.py" output="screen" ns="DIGIT"/>
    <!-- topic name for DIGIT serial Number -->
    <param name="sn" type="str" value="D20488" />
    <!-- topic name for DIGIT -->    
    <param name="name" type="str" value="MyDigit" />
    <!-- topic name for real time rgb image -->
    <param name="rgb_img" type="str" value="rgb_img" />
    <!-- topic name for real time lab image -->
    <param name="lab_img" type="str" value="lab_img" />
    <!-- topic name for difference rgb image -->
    <param name="diff_rgb_img" type="str" value="diff_rgb_img" />
    <!-- topic name for dufferebce lab image -->
    <param name="diff_lab_img" type="str" value="diff_lab_img" />
    <!-- topic name for real time image with contact centers drawn -->
    <param name="output_img" type="str" value="output_img" />    
    <!-- topic name for real time image with contact centers drawn -->
    <param name="contact_center_topic" type="str" value="contact_center" />
</launch>